@mixin button {
    text-decoration: none;
    background: linear-gradient(to bottom right, rgb(0, 184, 174), rgb(0, 0, 73));
    padding: 15px 32px;
    border-radius: 5px;
    color: $color;
}

@mixin centerItems {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin gradientText {
    background:linear-gradient(to right, rgb(95, 16, 148), rgb(41, 1, 136));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}