$color: #fff;
$bg-color: #111;

body{
    font-family: sans-serif;
    font-size: 30px;
    background: $bg-color;
    color: $color;

}

.container{
    width: 100%;
    .section{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        &-content{
            font-weight: bold;
        }
    }
}