*{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
    color:#fff;
    .button {
        padding: 15px 60px;
        border-radius: 30px;
        border: 1px solid #fff;
        color: #fff;
        transition: all 0.5s ease;
        overflow: hidden;
        z-index: 0;
        font: {
            size: 16px;
            weight: bold;
            family: sans-serif;
        }
        position:relative;

        &::before{
            position:absolute;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background:orangered;
            top:0;
            left: -100%;
            transition: all 0.5s ease;
            z-index: -1;

        }

        &:hover::before{
            left:0;
        }

        &:hover{
            border-color: orange;
        }
    }
}