.container{
    display: grid;
    
    background: #333;
    grid-template-columns: repeat(3, 200px);
    grid-gap: 50px;
    justify-content: space-around;
}

.item{
    background:orange;
    color: #fff;
    padding: 50px;
    font-size: 30px;
}