.container{
    display: grid;
    
    grid-template-rows: repeat(3, 100px);
    background: #333;
    
    grid-gap: 100px;
    grid-auto-rows: 100px;
    grid-auto-flow: column;
}

.item{
    background:orange;
    color: #fff;
}