.container{
    display: grid;
    background: #333;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 50px;
    /*justify-items: start;
    align-content: center; */
    place-content:center start;
    height: 900px;
    width: 900px;
}

.item{
    background:orange;
    color: #fff;
    padding: 50px;
    font-size: 30px;
}