@mixin button ($direction, $color1, $color2) {
    text-decoration: none;
    background: linear-gradient($direction, $color1, $color2);
    padding: 15px 32px;
    border-radius: 5px;
    color: $color;
}

@mixin centerItems {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@mixin gradientText($direction, $color1, $color2) {
    background: linear-gradient($direction, $color1, $color2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}