*{
    margin:0;
    padding: 0;
}

.container {
    display: flex;
    width: 800px;
    height: 800px;
    background-color: orange;
}

.item {
    display: flex;
    background: #ddd;
    margin: 20px ;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.item1{
    background:red;
    order:1;
}
.item2{
    background:green;
    order:2;
}
.item3{
    background:blue;
    order:3;
}