*{
    margin:0;
    padding: 0;
}

.container {
    display: flex;
    height: 800px;
    background-color: orange;
}

.item {
    display: flex;
    background: #ddd;
    margin: 20px ;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.item1{
    background:red;
    flex:1 3 400px;
}
.item2{
    background:green;
    flex:2 2 200px;
}
  
.item3{
    background:blue;
    flex:3 2 100px;
}