*{
    margin:0;
    padding: 0;
}

.container {
    display: flex;
    height: 800px;
    background-color: orange;
}

.item {
    display: flex;
    background: #ddd;
    margin: 20px ;
    width: 400px;
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.item1{
    background:red;
    flex-shrink: 1;
}
.item2{
    background:green;
    flex-shrink: 2;
}
.item3{
    background:blue;
    flex-shrink: 3;
}