@mixin transition {
    transition: all 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;

    .hero {
        display: flex;
        height: 100%;

        &-content1 {
            width: 40%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(179, 128, 35);
            font-family: sans-serif;

            h1 {
                font-size: 48px;
                font-weight: bold;
            }

            P {
                margin: 20PX 0;
            }

            .text-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                
            }

            .button {
                padding: 15px 64px;
                border-radius: 30px;
                border: 1px solid #000;
                display: inline-block;
                cursor: pointer;
                margin-top: 10px;
                font-weight: bold;
                @include transition;
                z-index: 1;
                overflow: hidden;
                position: relative;

                &:hover {
                    color: #fff;
                }

                &::before {
                    position: absolute;
                    content: '';
                    top:0;
                    left: -100%;
                    background-color: #000;
                    border-radius: 30px;
                    width: 100%;
                    height: 100%;
                    @include transition;
                    z-index: -1;
                }

                &:hover::before {
                    left: 0;
                }
            }
        }

        &-content2 {
            width: 65%;
            height: 100%;
            overflow: hidden;
            position: relative;
        z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include transition;

                &:hover {
                    transform: scale(1.1);
                }

                z-index: -1;
            }

            &::before {
                content: '';
                position: absolute;
                left: -1px;
                top: 0;
                width: 170px;
                height: 100%;
                background: rgb(179, 128, 35);
                clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
                z-index: 1;
            }
        }
    }
}