$bg-color: #111;

* {
    margin: 0;
    padding: 0;
}

body {}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: $bg-color;

    button {
        color: #fff;
        padding: 15px 60px;
        z-index: 0;
        font-size: 80px;
        font-weight: bold;
        border-radius: 18px;
        border-width: 0;

        background: linear-gradient(to bottom right, green, rgb(158, 129, 2));

        position: relative;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(to bottom right, green, rgb(158, 129, 2));
            border-radius: 18px;
            opacity: 1;
            transition: 0.7s ease;
            z-index: -1;
        }

        &:hover::before {
            opacity: 0;
            transform: scale(1.1);
        }

    }

}