* {
    margin: 0;
    padding: 0;
}

body {
    background: #111;
}

.element,
.element1,
.element2,
.element3,
.element4,
.element5,
.element6,
.element7,
.element8,
.element9 {
    float: left;
    width: 400px;
    height: 350px;
    position: relative;
    box-shadow: 0 0 3px red;
    margin: 40px;

}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
}

.front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
}

.back {
    background: linear-gradient(to bottom right, rgb(36, 6, 70), rgb(91, 4, 102));
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(91, 4, 102);
    z-index: -2;
    box-sizing: border-box;
}

.pname {
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.description {
    margin: 20px 60px;
    color: #fff;
}

.back-content {
    padding: 0 20px;
}

.icons .fa {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    margin: 0 10px;
}

/* element */

.element .back-content {
    transform: scale(0);
    opacity: 0;
    transition: all 0.8s ease;
}

.element:hover .front {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: calc(100% - 50px);
    top: calc(50% - 50px);
    box-shadow: 0 0 10px rgb(238, 177, 247), 0 0 30px red;
}

.element:hover .front img {
    border-radius: 50%;
}

.element:hover .back-content {
    transform: scale(1);
    opacity: 1;
}

/* element 1*/
.element1 .back-content {
    opacity: 0;
    transform: translateY(-100px);
    transition: all 1s ease;
}

.element1:hover .back-content {
    opacity: 1;
    transform: translateY(0px);
}

.element1:hover .front {
    opacity: 0;
    top: -100%;
}

.element1 .back:before {
    position: absolute;
    content: '';
    top: 200px;
    bottom: 200px;
    right: 50px;
    left: 50px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    transition: all 1s ease;
}

.element1 .back:after {
    position: absolute;
    content: '';
    top: 50px;
    bottom: 50px;
    right: 200px;
    left: 200px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transition: all 1s ease;
}

.element1:hover .back:before {
    top: 30px;
    bottom: 30px;
}

.element1:hover .back:after {
    right: 30px;
    left: 30px;
}

/* element 2*/
.element2:hover .front {
    opacity: 0;
}

.element2 .back-content {
    transform: scale(0);
    transition: all 0.5s ease;
}

.element2:hover .back-content {
    transform: scale(1);
}

.element2 .see {
    position: absolute;
    width: 25%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(68, 68, 68);
    z-index: -3;
    transition: all 0.6s ease;
    transform: scale(0, 1);
}


.element2 .see:nth-child(2) {
    left: calc(25%);
}

.element2 .see:nth-child(3) {
    left: calc(50%);
}

.element2 .see:nth-child(4) {
    left: calc(75%);
}

.element2:hover .see {
    width: 25%;
    transform: scale(1, 1);
}


/* element 3*/

.element3:hover .front {
    opacity: 0;
    transform: translateX(-100%)rotate(180deg);
}

.element3 .back-content {
    transform: translateX(-50px);
    opacity: 0;
    transition: all 1s ease;
}

.element3:hover .back-content {
    transform: translateX(0px);
    opacity: 1;
}

.element3 .back:before {
    position: absolute;
    content: '';
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
    top: 200px;
    bottom: 200px;
    right: 50px;
    left: 50px;
    transition: all 0.6s ease;
}

.element3 .back:after {
    position: absolute;
    content: '';
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    top: 50px;
    bottom: 50px;
    right: 200px;
    left: 200px;
    transition: all 0.6s ease;
}

.element3:hover .back:before {
    top: 70px;
    bottom: 70px;
}

.element3:hover .back:after {
    right: 70px;
    left: 70px;
}

/* element 4*/
.element4 {
    overflow: hidden;
}

.element4 .front {
    transform: skewX(0deg);
    opacity: 1;
    transition: transform 0.3s ease, left 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
}

.element4:hover .front {
    opacity: 0;
    left: -100%;
    transform: skewX(-20deg);
    ;
}

.element4 .back-content {
    transform: scale(0);
    opacity: 0;
    transition: all 0.5s ease 0.3s;
}

.element4:hover .back-content {
    transform: scale(1);
    opacity: 1;
}

/* element 5*/
.element6 {
    box-shadow: none;
}

.element5:hover .front {
    transform: scale(0.35);
    top: 100px;
    box-shadow: 0 0 25px white;
}

.element5 .back-content {
    transition: all 0.5s ease;
}

.element5:hover .back-content {
    transform: translateY(-50px);
}

/* element 6*/
.element6:hover .front {
    transform: translateY(-93%)rotateX(150deg);
    opacity: 0;
}

.element6 .back {
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background: linear-gradient(to bottom right, green, yellow);
}

.element6 .back-content .pname {
    transform: translateY(-30px);
    transition: all 1s ease;
    opacity: 0;
}

.element6 .back-content .icons {
    transform: translateY(30px);
    transition: all 1s ease;
    opacity: 0;
}

.element6:hover .back-content .pname {
    transform: translateY(0px);
    opacity: 1;
}

.element6:hover .back-content .icons {
    transform: translateY(0px);
    opacity: 1;
}

/* element 7*/
.element7 .front{
    transform: rotateY(0deg);
    transform-origin:left ;
}

.element7:hover .front{
    transform:rotateY(180deg);
}

.element7 .back-content{
    transform: scale(0);
    opacity: 0;
    transition:  all 1s ease;

}

.element7:hover .back-content{
    transform: scale(1);
    opacity: 1; 
}

/* element 8*/

.element8{
    overflow:hidden;
}
.element8:hover .front{
    opacity: 0;
    transform: translateX(100%) rotate(60deg);
}

.element8 .back:before{
    position: absolute;
    content:'';
    width: 0px;
    height: 0px;
    top:35px;
    right:35px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transition: all 1.5s ease;
}

.element8 .back:after{
    position: absolute;
    content:'';
    width: 0px;
    height: 0px;
    bottom:35px;
    left:35px;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    transition: all 1.5s ease;
}

.element8:hover .back:before{
    width: 100px;
    height: 100px;
}

.element8:hover .back:after{
    width: 100px;
    height: 100px;
}

.element8 .back-content{
    transform: translate(-100px, -100px);
    transition: all 1s ease;
    opacity: 0;
}
.element8:hover .back-content{
    transform: translateY(0px);
    opacity: 1;
}

/* element 9*/

.element9 {
    box-shadow: none;
    overflow: hidden;
}
.element9:hover .front{
    top: 100%;
    opacity: 0;
}
.element9 .back{
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: none;
    top: -100%;
    transition: all 0.5s ease;
    opacity: 0;
}

.element9:hover .back{
    top: 0;
    opacity: 1;
}

